<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <!-- Aquí puedes colocar el código para el encabezado común -->
        <h1>CRUD Application</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/getAll">View All Users</a></li>
                <li><a href="/create">Create User</a></li>
                <!-- Agrega más enlaces de navegación si es necesario -->
            </ul>
        </nav>
    </header>

    <main>
        {{{ body }}}
    </main>

    <footer>
        <!-- Aquí puedes colocar el código para el pie de página común -->
        <p>&copy; 2024 CRUD Application</p>
    </footer>
</body>
</html>
