<h1>Error</h1>
<p>{{message}}</p>
<p>{{error}}</p>
<img src="/images/500.webp" alt="error">
<button onclick="goBack()">Volver</button>

<script>
    function goBack(){
        window.history.back()
    }
</script>