<h2>Create User</h2>
<form action="/api/user/create" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>
    <br>
    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="carrera">Carrera:</label>
    <input type="text" id="carrera" name="carrera" required>
    <br>
    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Submit</button>
</form>
